
		<div class="row">
			<!-- Control Form -->
			<div class="col-sm-12 col-md-6 col-lg-4">
                	<!-- Control Form -->
                <form class="form" style="margin-bottom: 16px;">
                    <button type="button" class="btn btn-default" (click)="generateData()">Generate Data</button>
                </form>

            </div>
            
			<!-- Map -->
			<div class="col-sm-12 col-md-6 col-lg-8">

				<!-- <div leaflet style="height: 600px;"
					 [leafletOptions]="options"
					 [leafletZoom]="zoom"
					 [leafletCenter]="center">
                </div> -->
                <!-- Map -->
                <div leaflet style="height: 800px"
                [leafletOptions]="options"
                [leafletBaseLayers]="baseLayers"
                [leafletLayersControlOptions]="layersControlOptions"
                [leafletMarkerCluster]="markerClusterData"
                [leafletMarkerClusterOptions]="markerClusterOptions"
                (leafletMarkerClusterReady)="markerClusterReady($event)">
                </div>
			</div>
</div>




